[submodule "src/SPI.jl"]
	path = src/SPI.jl
	url = git@github.com:aramanlab/SPI.jl.git
[submodule "src/NewickTreeTools.jl"]
	path = src/NewickTreeTools.jl
	url = git@github.com:aramanlab/NewickTreeTools.jl.git
	